.produtos, .comanda,.usuario,.imagem,.tela-principal,.categorias{  margin-top:100px !important; }

.dropdown-menu[data-bs-popper] {
  top: 122% !important;
  left: -50px !important;
}

.navbar-toggler:focus{
  box-shadow:unset !important;
}